<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GenerateServlet</servlet-name>
    <servlet-class>com.onlinejc.GenerateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateServlet</servlet-name>
    <url-pattern>/GenerateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.coral.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.coral.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EncServlet</servlet-name>
    <servlet-class>com.onlinejc.EncServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncServlet</servlet-name>
    <url-pattern>/EncServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.coral.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Convert</display-name>
    <servlet-name>Convert</servlet-name>
    <servlet-class>com.onlinejc.Convert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Convert</servlet-name>
    <url-pattern>/convert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Save_File</display-name>
    <servlet-name>Save_File</servlet-name>
    <servlet-class>com.filesaved.Save_File</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Save_File</servlet-name>
    <url-pattern>/savefile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Compile_File</display-name>
    <servlet-name>Compile_File</servlet-name>
    <servlet-class>com.filecompiled.Compile_File</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Compile_File</servlet-name>
    <url-pattern>/Compile_File</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecServlet</display-name>
    <servlet-name>DecServlet</servlet-name>
    <servlet-class>com.onlinejc.DecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecServlet</servlet-name>
    <url-pattern>/decfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_Api</display-name>
    <servlet-name>Get_Api</servlet-name>
    <servlet-class>com.api.Get_Api</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_Api</servlet-name>
    <url-pattern>/getapi</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Converter</display-name>
    <servlet-name>Converter</servlet-name>
    <servlet-class>com.onlinejc.Converter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Converter</servlet-name>
    <url-pattern>/converttext</url-pattern>
  </servlet-mapping>
</web-app>